<h1> Sign up confirmation?</h1>
<h4> Are you sure these values are correct?</h4>

<h3>Name:</h3>
 <p> <%= @user.name %></p>
<h3>Email:</h3>
 <p><%= params[:user][:email]%></p>

<%= form_for @user do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :password %>
  <%= f.hidden_field :password_confirmation %>
  <%= f.submit "Yes", class: 'btn btn-success' %>
<% end %>

<%= button_to "No", {controller: "users", action: "new"}, class: "btn btn-failure", method: :get %>
